* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: auto;
  background: #000000;
}

.navbar {
  display: block;
  height: 98px;
  background: #545454;
  margin: auto;
  width: 100%;
}

.header {
  width: 100%;
}

.href {
  text-decoration: none;
  color: #fff;
}

.conteiner-element {
  margin: auto;
}

.icons-shape {
  margin-left: 10px;
}

@media screen and (max-width: 450px) {
  .icons-shape {
    display: none;
  }
}

.menu__item:hover {
  background: #f1592a;
}

.block_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
}

.menu__item {
  margin: auto;
  margin-right: 20px;
  padding: 13px 4px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .menu__item {
    font-size: 14px;
  }
}

@media screen and (max-width: 490px) {
  .menu__item {
    margin-right: 0px;
  }
}

.logo {
  margin-left: 150px;
}

@media screen and (max-width: 1050px) {
  .logo {
    margin-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    display: none;
  }
}

.hero {
  display: block;
}

.wrapper {
  height: 880px;
  margin: auto;
  position: relative;
  width: 1800px;
}

@media screen and (max-width: 1601px) {
  .wrapper {
    width: 1600px;
  }
}

@media screen and (max-width: 1367px) {
  .wrapper {
    width: 1366px;
    height: 680px;
  }
}

@media screen and (max-width: 1025px) {
  .wrapper {
    width: 1024px;
    height: 512px;
  }
}

@media screen and (max-width: 801px) {
  .wrapper {
    width: 800px;
    height: 400px;
  }
}

@media screen and (max-width: 481px) {
  .wrapper {
    width: 480px;
    height: 240px;
  }
}

.slider {
  background-color: #ddd;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.wrapper > input {
  display: none;
}

.slides {
  height: inherit;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.slide3 {
  background: url(../img/Remove_Backgroundin.png);
}

@media screen and (max-width: 1601px) {
  .slide3 {
    background: url(../img/Remove_Backgroundin2.png);
  }
}

@media screen and (max-width: 1367px) {
  .slide3 {
    background: url(../img/Remove_Backgroundin3.png);
  }
}

@media screen and (max-width: 1025px) {
  .slide3 {
    background: url(../img/Remove_Backgroundin4.png);
  }
}

@media screen and (max-width: 801px) {
  .slide3 {
    background: url(../img/Remove_Backgroundin5.png);
  }
}

@media screen and (max-width: 481px) {
  .slide3 {
    background: url(../img/Remove_Backgroundin6.png);
  }
}

.slide1 {
  background-image: url(../img/7.png);
}

@media screen and (max-width: 1601px) {
  .slide1 {
    background: url(../img/72.png);
  }
}

@media screen and (max-width: 1367px) {
  .slide1 {
    background: url(../img/73.png);
  }
}

@media screen and (max-width: 1025px) {
  .slide1 {
    background: url(../img/74.png);
  }
}

@media screen and (max-width: 801px) {
  .slide1 {
    background: url(../img/75.png);
  }
}

@media screen and (max-width: 481px) {
  .slide1 {
    background: url(../img/76.png);
  }
}

.slide2 {
  background-image: url(../img/8-1.png);
}

@media screen and (max-width: 1601px) {
  .slide2 {
    background: url(../img/8-12.png);
  }
}

@media screen and (max-width: 1367px) {
  .slide2 {
    background: url(../img/8-13.png);
  }
}

@media screen and (max-width: 1025px) {
  .slide2 {
    background: url(../img/8-14.png);
  }
}

@media screen and (max-width: 801px) {
  .slide2 {
    background: url(../img/8-15.png);
  }
}

@media screen and (max-width: 481px) {
  .slide2 {
    background: url(../img/8-16.png);
  }
}

.wrapper .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 14px;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.wrapper label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
  background: #f1592a;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
  opacity: 1;
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.services-main {
  font-weight: 500;
  text-transform: uppercase;
  max-width: 1171px;
  margin: auto;
  display: inline;
}

.services_main_h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}

.services_main_p {
  display: block;
  text-align: justify;
  margin: 21px 20%;
  font-size: 11px;
  letter-spacing: 0.32px;
}

.services_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px 20%;
}

.services_grid_element {
  width: 25%;
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 801px) {
  .services_grid_element {
    width: 50%;
  }
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.categories {
  text-align: center;
  font-size: 15px;
}

.categories h2 {
  font-family: 'Roboto Regular', sans-serif;
  margin: 50px 16% 0 16%;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #f1592a;
}

.categories p {
  margin: 10px 16%;
}

.our_categories {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 16%;
  height: 100%;
}

@media screen and (max-width: 820px) {
  .our_categories {
    margin: 10px 6%;
  }
}

.our_categories_element {
  width: 25%;
  font-size: 13px;
  margin-top: 30px;
  min-height: 440px;
  position: relative;
}

@media screen and (max-width: 1601px) {
  .our_categories_element {
    min-height: 480px;
  }
}

@media screen and (max-width: 1590px) {
  .our_categories_element {
    width: 33.3%;
  }
}

@media screen and (max-width: 1200px) {
  .our_categories_element {
    width: 50%;
  }
}

@media screen and (max-width: 642px) {
  .our_categories_element {
    width: 100%;
  }
}

.categories_h {
  font-size: 18px;
  font-weight: 500;
  margin: auto;
}

.categories_element_btn {
  position: absolute;
  bottom: 0;
  right: 30%;
  border: none;
  background: none;
}

.our_categories_btn {
  width: 208px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  background: #f1592a;
  color: #ffffff;
  margin: 40px auto;
  text-transform: uppercase;
  border: none;
}

.offer_tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer_td, .offer_tr2 p, .offer_tr3 p {
  width: 25%;
}

.offer_td_bg {
  text-align: center;
  background: #ffffff;
  height: 240px;
  border-left: 1px solid #f7f7f7;
  border-right: px solid #f7f7f7;
  padding-top: 30px;
}

.offer_td2 img {
  display: inline;
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
  padding-top: -40px;
}

.offer_td2 {
  padding-top: -40px;
}

.offer_main {
  background: #f7f7f7;
  padding-top: 50px;
}

.offer_buy {
  margin: 0 16% 0 16%;
  text-align: center;
}

.offer_buy h2 {
  text-transform: uppercase;
  color: #f1592a;
  font-size: 30px;
  font-weight: 500;
}

.offer_buy p {
  text-align: center;
}

.offer_buy span {
  display: block;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 1px solid #f1592a;
  padding-top: 50px;
  margin: auto;
}

@media screen and (max-width: 1025px) {
  .offer_buy {
    margin: 0;
  }
}

@media screen and (max-width: 481px) {
  .offer_buy span {
    width: 98px;
    height: 98px;
    padding-top: 10px;
  }
}

.offer_td_bg span:first-line {
  font-size: 26px;
  font-weight: 700;
}

.offer_td_bg span {
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
}

@media screen and (max-width: 481px) {
  .offer_td_bg span:first-line {
    font-size: 18px;
  }
  .offer_td_bg span {
    font-size: 10px;
  }
}

.offer_price {
  height: 40px;
  margin: 0;
  line-height: 40px;
  color: #ffffff;
  background: #f1592a;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.offer_clear {
  height: 40px;
}

.offer_tr2 p {
  line-height: 40px;
  background: #f1592a;
  height: 40px;
  margin: 0;
  color: #ffffff;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.offer_tr3 p {
  line-height: 60px;
  background: #817f7f;
  height: 60px;
  margin: 0;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.offer_tr3 a {
  text-decoration: none;
  color: #ffffff;
}

.order_now:hover {
  background: #f1592a;
}

.useful_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 16% 0 16%;
  color: #f1592a;
}

.useful_block_element {
  width: 33.3%;
  border: 1px solid rgba(111, 111, 111, 0.3);
  position: relative;
}

.useful_block_element img {
  position: absolute;
  margin: auto 25px;
  vertical-align: middle;
  top: 0;
  bottom: 0;
}

.useful_block_element h4 {
  margin: 28px 10px 5px 85px;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  font-size: 22px;
  font-weight: 400;
}

.useful_block_element p {
  margin: 5px 10px 28px 85px;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 660px) {
  .useful_block_element img {
    display: none;
  }
  .useful_block_element h4, .useful_block_element p {
    margin: 28px 10px 5px 10px;
  }
}

@media screen and (max-width: 801px) {
  .useful_blocks {
    margin: 60px 0 0 0;
  }
}

.useful_block_element:first-child {
  margin-right: 30px;
}

.useful_block_element:last-child {
  margin-left: 30px;
}

.cutomer_feedback {
  margin-top: 60px;
  background: url(/img/book-1986286_1920.png);
  height: 450px;
}

.cutomer_feedback h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  color: #f1592a;
  padding-top: 50px;
}

@media screen and (max-width: 630px) {
  .cutomer_feedback {
    margin-bottom: 150px;
  }
}

.wrapper_2 {
  height: 200px;
  margin: auto;
  position: relative;
  width: 73.5%;
  text-align: center;
}

@media screen and (max-width: 1030px) {
  .wrapper_2 {
    height: 250px;
  }
}

@media screen and (max-width: 630px) {
  .wrapper_2 {
    height: 320px;
  }
}

.slider_2 {
  background-color: #ddd;
  height: inherit;
  position: relative;
  width: inherit;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 80px;
}

.slider_2 h4 {
  margin: 0 auto;
}

.slider_2 p {
  margin: 0 10% 10px 10%;
}

.wrapper_2 > input {
  display: none;
}

.slides_2 {
  height: inherit;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.slide1_2 {
  background: #ffffff;
  width: 100%;
  opacity: 0;
}

.slide1_2 img {
  margin-top: -35px;
}

.slide2_2 {
  background: #ffffff;
  width: 100%;
  opacity: 0;
}

.slide2_2 img {
  margin-top: -35px;
}

.slide3_2 {
  background: #ffffff;
  width: 100%;
  opacity: 0;
}

.slide3_2 img {
  margin-top: -35px;
}

.wrapper_2 .controls_2 {
  left: 50%;
  margin-left: -68px;
  position: absolute;
  margin-top: 30px;
}

.wrapper_2 label {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 14px;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.wrapper_2 label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper_2 label:hover,
#slide1_2:checked ~ .controls_2 label:nth-of-type(1),
#slide2_2:checked ~ .controls_2 label:nth-of-type(2),
#slide3_2:checked ~ .controls_2 label:nth-of-type(3) {
  background: #f1592a;
}

#slide1_2:checked ~ .slider_2 > .slide1_2,
#slide2_2:checked ~ .slider_2 > .slide2_2,
#slide3_2:checked ~ .slider_2 > .slide3_2 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.massage {
  background: url(/img/massage.png);
  text-align: center;
  margin-top: 40px;
  height: 300px;
}

.massage_text {
  margin: 50px 31%;
  padding-top: 90px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #ffffff;
}

@media screen and (max-width: 1025px) {
  .massage_text {
    padding-top: 30px;
  }
}

@media screen and (max-width: 801px) {
  .massage_text {
    padding-top: 30px;
    margin: 50px 5%;
  }
}

.contact_us_slogan {
  font-size: 16px;
  text-align: center;
  margin-top: 7px;
}

.contact_us h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 0;
  color: #f1592a;
}

.contact_form input {
  margin: 8px 8px;
  height: 40px;
  width: 260px;
}

.contact_form textarea {
  margin: 8px 0 0 8px;
  width: 540px;
}

@media screen and (max-width: 481px) {
  .contact_form textarea {
    width: 430px;
  }
}

#contact_submit {
  width: 93px;
  height: 42px;
  margin-left: 223.5px;
  background: #f1592a;
  color: #ffffff;
}

.contact_us_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 16%;
}

@media screen and (max-width: 801px) {
  .contact_us_col {
    margin: 0;
  }
}

@media screen and (max-width: 720px) {
  .contact_us_col {
    display: block;
  }
}

.contact_form {
  width: 50%;
}

.contact_adress {
  width: 50%;
}

.contact_adress p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

.contact_adress span {
  font-size: 23px;
  text-transform: uppercase;
}

.contacts_cocial img {
  width: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  background: #212121;
  font-size: 16px;
  margin-top: 95px;
}

footer div {
  margin: auto 0;
}

.name_footer {
  color: #f1592a;
}

.three_footer_3 {
  margin-right: 100px;
}

.qwuik_up {
  text-align: right;
  margin-top: -115px;
}

body {
  font-family: 'Roboto Regular', sans-serif;
}
/*# sourceMappingURL=style.css.map */